<div class="container" *ngIf="productFormGroup">
  <form [formGroup]="productFormGroup">
    <div class="formGroup">
      <div class="form-group">
        <label>ID</label>
        <input type="text" class="form-control" formControlName="id">
      </div>
      <label>Name</label>
      <input type="text" class="form-control" formControlName="name" [ngClass]="{'is-invalid':submitted && productFormGroup.controls['name'].errors}">
      <div *ngIf="submitted && productFormGroup.controls['name'].errors" class="invalid-feedback">
        <div *ngIf="productFormGroup.controls['name'].errors['required']">Name is Required</div>
      </div>
    </div>
    <div class="formGroup">
      <label>Price</label>
      <input type="text" class="form-control" formControlName="price">
    </div>
    <div class="formGroup">
      <label>Quantity</label>
      <input type="text" class="form-control" formControlName="quantity">
    </div>
    <div class="formGroup">
      <label>Selected</label>
      <input type="checkbox" class="form-check" formControlName="selected">
    </div>
    <div class="formGroup">
      <label>Available</label>
      <input type="checkbox" class="form-check" formControlName="available">
    </div>
    <button class="btn btn-success" (click)="onEditProduct()">Save</button>
  </form>
</div>
